<div ng-controller="HomeController">

<span ng-click="changeLang('en')">Ingles</span><span ng-click="changeLang('es')">Español</span>

    {{message}}!

    <h1>home#index</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p>Find me in app/views/welcome/index.html.erb</p>
            <span class="glyphicon glyphicon glyphicon-heart" style="color: red; font-size: 100px"></span>
        </div>
        <div class="col-lg-6 col-md-6">
            <p translate>{{'university-footer' | translate}}</p>
            <p>Find me in app/views/welcome/index.html.erb</p>
            <span class="glyphicon glyphicon glyphicon-thumbs-up" style="color: blue; font-size: 100px"></span>
        </div>
    </div>

</div>
