<div class="row">
  <% field = ["name", "username", "email", "institution", "occupation", "country"] %>
  <% field.each do |tag| %>
  <div class="col-xs-3 show-profile-field">
    <strong><%= t("user-profile."+tag) %>:</strong>
  </div>
  <div class="col-xs-3 show-profile-field">
    <%= @user.read_attribute tag %>
  </div>
  <% end %>
</div>
