<div class="row">
  <div class="container-fluid member-container member-bio-header">
  <div class="col-xs-4">
    <%= render :partial => "shared/user_photo", locals: { photo: @user.avatar.url, folder: nil} %>
  </div>
  <div class="col-xs-8 member-bio-name">
    <div>
      <%= @user.name %>
    </div>
  </div>
  </div>
  <% field = ["name", "username", "email", "institution", "occupation", "country"] %>
  <% field.each do |tag| %>
  <div class="col-xs-3 show-profile-field">
    <strong><%= t("user-profile.#{tag}") %>:</strong>
  </div>
  <div class="col-xs-3 show-profile-field">
    <%= field_value = @user.read_attribute tag
        if field_value.present?
          if tag.eql? "country"
            @user.country_name
          else
            field_value
          end
        else
          t("user-profile.none-especified")
        end
     %>
  </div>
  <% end %>
</div>
