<div class="row">
  <div class="col-xs-4">
    <% @user.photo = "default.png" if @user.photo.blank?  %>
    <%= image_tag("team/" + @user.photo, width: "200px", height: "200px", :class =>"member-bio-img") %>
  </div>
  <% field = ["name", "username", "email", "institution", "occupation", "country"] %>
  <% field.each do |tag| %>
  <div class="col-xs-3 show-profile-field">
    <strong><%= t("user-profile."+tag) %>:</strong>
  </div>
  <div class="col-xs-3 show-profile-field">
    <%= @user.read_attribute tag %>
  </div>
  <% end %>
</div>
