<div class="content-wrapper">

  <%= render :partial => "user_sidebar",
        locals: { active_item: @active_item} %>

  <div class="content-right">
    <h1><%= t("user-profile.edit.title") %></h1>
    <%= render 'form' %>

  </div>
</div>
