<% title(t "user-profile.show.title") %>

<div class="content-wrapper">

  <%= render :partial => "user_sidebar",
        locals: { active_item: "show"} %>

  <div class="content-right">
    <h1><%= t("user-profile.show.title") %></h1>
    <%= render :partial => "users/show_profile" %>

  </div>
</div>
