<footer class="footer-container">
  <%= image_tag("logoUSB.png", width: "80px", height: "50px") %>
  <div class="college-place"><%=t 'university' %> - <%=t 'country' %></div>
  <div class="info"><%=t 'footer.info' %></div>
</footer>
