<% if @isHome %>

<footer class="footer-container site-footer container-fluid">

<% else %>

<footer class="footer-container site-footer footer-sidebar-fluid">

<% end -%>

  <div class="row">
  <div class="col-xs-1"><%= image_tag("logoUSB.png", width: "80px", height: "50px") %></div>
  <div class="col-xs-5 info"><%=t 'university' %> - <%=t 'country' %></div>
  <div class="col-xs-6 legal"><%=t 'footer.info' %></div>
  </div>
</footer>
