  <header class="header-fixed">
    <div class="header-x-scroll">
      <div class="container-fluid header-container">

        <div class="row">
          <div class="col-xs-2 logo">
            <%= image_tag("fuzzydodb.png", width: "190px", height: "50px") %>
          </div>
          <div class="col-xs-10 header-right-container">
            <div class="top-options-container">
              <button type="button" class="btn btn-default"> Iniciar Sesión </button>
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Buscar">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="header-menu">
          <ul class="w3-navbar w3-light-grey">
            <li class="w3-hover-teal">
              <a>INICIO</a>
            </li>
            <li class="w3-hover-teal">
              <a>EQUIPO</a>
            </li>
            <li class="w3-hover-teal">
              <a>DESCARGA</a>
            </li>
            <li class="w3-hover-teal">
              <a>API</a>
            </li>
            <li class="w3-hover-teal">
              <a>DOCUMENTACIÓN</a>
            </li>
            <li class="w3-hover-teal">
              <a>PRUEBAS EN LÍNEA</a>
            </li>
            <li class="w3-hover-teal">
              <a>DESEMPEÑO</a>
            </li>
            <li class="w3-hover-teal">
              <a>COMUNIDAD</a>
            </li>
            <li class="w3-right w3-hover-teal">
              <a><span class="glyphicon glyphicon-globe" style="font-size: 15px; margin-right: 4px;"></span>IDIOMA</a>
            </li>
          </ul>
        </div>
      </div>
  </header>
