<header class="header-fixed">
  <div class="header-x-scroll">
    <div class="container-fluid header-container">

      <div class="row">
        <div class="col-xs-2 logo">
          <%= image_tag("fuzzydodb.png", width: "190px", height: "50px") %>
        </div>
        <div class="col-xs-10 header-right-container">
          <div class="top-options-container">
            <button type="button" class="btn btn-default"> Iniciar Sesión </button>
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Buscar">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="header-menu">
      <ul class="home-menu-bar w3-light-grey">
      <% menu_tags = ["INICIO","EQUIPO","DESCARGA","API","DOCUMENTACIÓN","PRUEBAS EN LÍNEA", "DESEMPEÑO","COMUNIDAD","IDIOMA"] -%>
      <% menu_hrefs = [" ","\\aboutus","","","","","","",""] -%>
      <% menu_tags.each do |x| -%>
         <li class="w3-hover-teal <%= "w3-right" if x.eql? menu_tags.last %>" >
           <a href="<%= menu_hrefs[menu_tags.index x] -%>">
             <% if x.eql? menu_tags.last then-%>
               <span class="glyphicon glyphicon-globe language-icon"></span>
             <% end -%>
             <%= x -%>
           </a>
         </li>
      <% end -%>
      </ul>
    </div>
</header>
