<h1>
  <%=t(title_token)-%>
</h1>
<div class="container-fluid">
  <%= image_tag("team/" + @photo + ".png", width: "120px", height: "120px", :class =>"member-img") -%>
  <%=t(content_token)-%>
</div>

