<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: @active_item} %>

  <div class="content-right">
    <%= render :partial => "shared/plain_content",
        locals: { title_token: @title, content_token: @content} %>
  </div>
</div>
