<div ng-controller="HomeController">
  <!--{{message}}!-->
   <div class="contentWrapper">
     <div class="contentLeft w3-card-4">
       <ul class="leftNavigation">
         <li>
           <a href="#">
             INTRODUCCION
           </a>
         </li>
         <li>
           <a href="">
            HISTORIA
           </a>
         </li>
         <li>
           <a href="#">
            MIEMBROS
           </a>
         </li>
       </ul>
     </div>
     <div class="contentRight">
       Your main content goes here






     </div>
   </div>
</div>
