<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: ""} %>

  <div class="content-right about-us-sections">
    <h1>
    <%= @member.name %>
    </h1>
    <div class="container-fluid">
      <%= image_tag("team/" + @member.photo, width: "120px", height: "120px", :class =>"member-img-card") %>
      <%= t(@content_token) %>
    </div>
  </div>
</div>

