<div class="content-wrapper">

  <%= render :partial => "about_us_sidebar",
        locals: { active_item: "members"} %>

  <div class="content-right">
    <%= render :partial => "member_cards", locals: { members: @members, title: "about-us-members.title"} %>
    <%= render :partial => "member_cards", locals: { members: @developers, title: "about-us-developers.title"} %>
</div>
