/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //= require w3
 //= require datatables

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$gray:  #808080;

html {
  min-width: 1100px;
}

body {
  font-family: 'Lato';
  font-size: 15px;
}

// Make buttons and input forms smaller
.btn,
.form-control {
  height: 30px;
  padding: 5px 11px;
  font-size: 13px;
}

.btn {
  margin-left: 7px;
  background-color: $widget-green;
  color: White;
  border-color: $widget-green;
  transition: background-color .3s, box-shadow .3s;
}

.btn:hover {
  background-color: $btn-hover;
  color: White;
  border-color: $btn-hover;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(12, 161, 163, 0.6);
}

.btn:focus,
.btn:active,
.btn:active:hover,
.btn:active:focus {
  color: White;
  background-color: $btn-active;
  border-color: $btn-active;
  outline: none;
  box-shadow: none;
}

.content {
  position: static;
  margin-top: 100px;
}

.fuzzydo-menu-page-bg {
  background-color: $widget-green;
  height: 320px;
}

h1 {
  color: $widget-green;
  font-family: 'Lato';
  border-bottom: 2px solid $gray;
  font-weight: 700;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

h2 {
  color: $widget-green;
  font-family: 'Lato';
  font-weight: 700;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.text-content {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5;

  p {
    margin-bottom: 1.5em;
  }
}

.crunchify-top:hover {
  color: White;
  background-color: $widget-green;
  text-decoration: none;
}

.crunchify-top {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 3.4rem;
  height: 3.4rem;
  line-height: 3.95rem;
  font-size: 3.2rem;
  color: White;
  background-color: rgba(0, 0, 0, .3);
  text-decoration: none;
  border-radius: 3.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}

.crunchify-top:focus {
  outline: none;
  color: White;
}

.glyphicon-log-in,
.glyphicon-log-out,
.glyphicon-user {
  margin-right: 7px;
}

// Override bootstrap pagination color
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $widget-green;
  border-color: $widget-green;
}

.pagination > li > a,
.pagination > li > span {
  color: $widget-green;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: inherit;
}
