@import 'variables';

$footer-height: 83px;

.page-wrap {
  margin-bottom: -$footer-height;
  min-height: 100%;
}

.page-wrap::after {
  display: block;
}

.site-footer,
.page-wrap::after {
  height: $footer-height;
}

.footer-container {
  padding-bottom: 15px;
  padding-top: 15px;

  img {
    margin-left: 15%;
  }

  .info {
    margin-top: 17px;
    padding-left: 40px;
  }

  .legal {
    margin-top: 17px;
    text-align: right;
    padding-right: 30px;
  }

}

.footer-sidebar-fluid {
  margin-right: auto;
  margin-left: $side-bar-width;
  padding-left: 15px;
  padding-right: 15px;
}
