<p>PhD en Tecnología de la Información y la Comunicación, Universidad de Granada, España, 2015. Master en Soft Computing y Sistemas
inteligentes, Universidad de Granada, Granada, 2011. MSc Ingeniería Industrial
Universidad de Carabobo, Valencia, Venezuela, 2011. MSc Ciencias de la Computación
Universidad Simón Bolívar, Caracas, Venezuela, 2008. Ingeniero en Computación
Universidad Simón Bolívar, Caracas, Venezuela, 1985. Profesor Asociado (desde Abril
2008) Departamento de Computación y Tecnología de la Información, Universidad
Simón Bolívar, Caracas, Venezuela. Ayudante Académico (Abril 2006 ‐ Abril 2008)
Departamento de Computación y Tecnología de la Información, Universidad Simón
Bolívar, Caracas, Venezuela.</p>
<p>Miembro del Centro de Análisis, Modelado y Tratamiento de Datos (CAMYTD) de la
Facultad Experimental de Ciencias y Tecnología, Universidad de Carabobo‐ Venezuela, en calidad de Investigador adscrito a la línea de investigación Base de Datos. Co‐ responsable del proyecto “Creación y aplicación de Sistemas Manejadores de Bases de
Datos Difusas” apoyado por el FONACIT (Enero 2009 ‐ Diciembre 2010). Investigador
asociado de dicho proyecto (Febrero 2008 – diciembre 2008).</p>
<p>Experiencia de más de 20 años en diferentes organizaciones del sector público y
privado en Venezuela. Más de 10 años en institutos de educación superior como
docente. Áreas de Interés: Bases de Datos, Aplicación de las TIC en Educación e
Ingeniería de Software.</p>
<p>Ha presentado ponencias en doce eventos en el exterior y once en Venezuela. Tiene
quince publicaciones en extenso en memorias arbitradas de congresos. Ha participado
en cuatro proyectos de investigación y desarrollo. Es autor de siete artículos en
revistas indexadas. Como tutor ha dirigido varios equipos en proyectos de desarrollo
en el tema de extensiones a Bases de Datos, algunos de ellos conducentes a título o
grado académico.</p>
