<p>Tesista doctoral, Universidad Simón Bolívar (USB), Caracas,

Venezuela, MSc. en Matemáticas, USB (2003). MSc. Licenciado en Matemáticas,

Universidad Central de Venezuela (UCV) Caracas, Venezuela (2000). Miembro del

personal académico de la USB (desde 2001). Actualmente es Profesor Agregado

(desde 2014). Fue Profesor en la Universidad Nacional Experimental “Antonio José de

Sucre” (UNEXPO), Caracas, Venezuela (2000‐2001).</p>

<p>Miembro de la Asociación Venezolana para el Avance de las Ciencias (AsoVAC) y de

Sociedad Venezolana de Computación (SVC).</p>

<p>En el área de Bases de Datos, tiene cuatro artículos tres de ellos en revistas indexadas,

un capítulo de libro, más de cuatro memorias de congresos arbitrados, dos notas

cortas en convenciones de la AsoVAC y más de cinco ponencias en congresos

nacionales. En el área de Matemáticas, ha presentado cuatro ponencias en congresos

nacionales y tiene una nota corta en convención de la AsoVAC. En el área de Estudios

de Género tiene dos artículos en revistas indexadas y dos memorias en congreso

internacionales.</p>
