<p>Doctoral thesis student in Mathematics, Universidad Simón

Bolívar (USB), Caracas, Venezuela. MSc in Mathematics, USB (2003). Graduate in

Mathematics, Universidad Central de Venezuela (UCV), Caracas, Venezuela (2000).

Member of the academic staff of the USB (since 2001). She is currently Assistant

Professor (since 2007). She was professor at the Universidad Nacional Experimental

“Antonio José de Sucre”, Caracas, Venezuela (2000‐2001).</p>

<p>Member of the Venezuelan Association for the Advancement of Science (AsoVAC) and

Member (SVC) Venezuelan Computer Society (since 2014).</p>

<p>In the Database area, she has four papers, three of them in indexed journals, one

book chapter, over four contributions in memories of national conferences, two shorts

notes at AsoVAC conventions and over five lectures in national conferences. In

Mathematics area, she has over four lectures in national conferences and one short

note at AsoVAC conventions. In the field of Gender Studies, she has two papers in

international conferences.</p>

