<p>Dr. en Matemáticas, Universidad Simón Bolívar (USB), Caracas, Venezuela (2015). MSc. en Matemáticas, USB (2003). Licenciado en Matemáticas, Universidad Central de Venezuela (UCV) Caracas, Venezuela (1998). Miembro del
personal académico de la USB (desde 2001). Actualmente es Profesor Agregado
(desde 2015). Fue Profesor en la Universidad Nacional Experimental Antonio José de
Sucre (UNEXPO), Caracas, Venezuela (1998‐2001) y en la UCV (1998‐2000).</p>
<p> Miembro de la Asociación Venezolana para el Avance de las Ciencias (AsoVAC) y de
Sociedad Venezolana de Computación (SVC).</p>

<p>En el área de Bases de Datos, tiene una contribución en memorias de congresos
arbitrados, una nota corta en convenciones de la AsoVAC y más de tres ponencias en
congresos nacionales. En el área de matemáticas, ha presentado cinco ponencias en
congresos nacionales y tiene una nota corta en convención de la AsoVAC.</p>

