<p>Dr. in Mathematics, Universidad Simón Bolívar (USB), Caracas, Venezuela (2015). MSc in Mathematics, USB (2003). Graduate in Mathematics, Universidad Central de Venezuela (UCV), Caracas, Venezuela (1998). Member of the
academic staff of the USB (since 2001). He is currently aggregate Professor (since
2006). He was professor at the Universidad Nacional Experimental “Antonio José de
Sucre”, Caracas, Venezuela (1998‐2001) and at the UCV (1998‐2000).</p>
<p>Member of the Venezuelan Association for the Advancement of Science (AsoVAC) and
Member (SVC) Venezuelan Computer Society (since 2014).</p>
<p>In the Database area, he has one contributions in memory of national conferences, one short note at AsoVAC conventions and over three lectures in national conferences.
In Mathematics area, he has over five lectures in national conferences and one short
note at AsoVAC conventions.</p>

