<p>M.Cs. en Ciencias de la Computación, USB (2014). Magíster en
Administración de Empresas, SAEJEE (2015). Ingeniero en Computación, USB (2009). Miembro del personal académico de la USB (desde 2009). Actualmente es Profesor
Asistente (desde 2014). Miembro de la sección de Algoritmos y Lenguajes.</p>
<p>Entrenador de los equipos participantes de la USB en los maratones de programación
ACM‐ICPC (desde 2010). Investigador en el área de semántica formal y lógica, con la
guía del Prof. Jesús Ravelo (desde 2010). Miembro del grupo de investigación en
fundamentos de la matemática y la computación, con la guía del Prof. Jorge Baralt
(desde 2012). Miembro del grupo de investigación en bases de datos difusas, con la
guía del Prof. Leonid Tineo (desde 2014). Miembro de la (SVC) Sociedad Venezolana
de Computación (desde 2014).</p>
