<p>M.Sc. in Computer Science, USB (2014). MBA, SAEJEE (2015). Computing Engineering, USB (2009). Member of the academic staff of USB (since
2009). Currently an Assistant Professor (since 2014). Member of the Algorithms and
Languages section.</p>

<p>Coach for the ACM‐ICPC programming competition teams from USB (since 2010). Researcher in formal semantics and logic, with the guidance of Prof. Jesús Ravelo
(since 2010). Member of the research group on the foundations of mathematics and
computer science, with the guidance of Prof. Jorge Baralt (since 2012). Member of the
research group on fuzzy data bases, with the guidance of Prof. Leonid Tineo (since
2014). Member of the (SVC) Venezuelan Computing Society (since 2014).</p>
