<p>MSc in Computer Science, USB (2015). Computer Engineering, USB
(2001). Member of the academic staff of the IUT‐RC “Dr. Federico Rivero Palacio”
(2003‐2015).</p>
<p>Accreditation Program for Promotion of Venezuela Investigator Researcher Level 1
(since 2013).</p>
<p>He was Head of the Department of Computing IUT‐RC “Dr. Federico Rivero Palacio”
(2006‐2009).</p>
<p>He was member of Project G‐2005000279 FONACIT "Creating and Implementing
Database Managers Fuzzy" (2006‐2008). Currently, Project Technical Member
Research Group "Challenges of Fuzzy Relational Data Model" at the National
Experimental Polytechnic University "Antonio José de Sucre" (UNEXPO), Vice President
of Barquisimeto (since 2015).</p>

<p>In the Database area, it has one refereed contribution in memory of congress, one
book chapter and over ten tutoring work leading to a degree.</p>
