<p>MsC en Computación, Universidad Simón Bolívar (USB), Caracas, Venezuela (2015). Ingeniero en Computación, USB (2001). Miembro del personal
académico del IUT‐RC “Dr. Federico Rivero Palacio” (2003‐2015). Profesor contratado
de la USB (desde 2015).</p>
<p>Acreditación del Programa de Promoción al Investigador de Venezuela como
Investigador Nivel 1 (desde 2013).</p>
<p>Fue Jefe del Departamento de Informática del IUT‐RC “Dr. Federico Rivero Palacio”
(2006‐2009).</p>
<p>Fue miembro del Proyecto FONACIT G‐2005000279 “Creación y Aplicación de
Manejadores de Bases de Datos Difusas” (2006‐2008). Actualmente, miembro del
Proyecto de Investigación de Grupo “Desafíos del Modelo de Datos Relacional Difuso” en la Universidad Nacional Experimental Politécnica “Antonio José de Sucre”
(UNEXPO) (desde 2015).</p>

<p>En el área de Bases de Datos, tiene una contribución en memorias de congresos
arbitrados, un capítulo de libro y más de diez tutorías de trabajos conducentes a
grado académico.</p>

