<p>Licenciado en Computación, Universidad De Carabobo (UC), Naguanagua, Venezuela (2013). MsC en Ciencias de la Computación, USB (en curso). Miembro del personal académico de la USB (desde 2013). Actualmente es Profesor
instructor (desde 2015).</p>

<p>Miembro del grupo de investigación en bases de datos difusas, con la guía del Prof. Leonid Tineo (desde 2014) y miembro del Centro de Análisis, Modelado y Tratamiento
de Datos (CAMYTD‐UC) (desde 2010). Tutor de pasantías cortas y jurado d pasantías
largas, evaluador en talleres de desarrollo de software.</p>
<p>Ha trabajado en empresas privadas como desarrollador de Software y líder de
proyecto. Ha dictado cursos y talleres para la empresa UNEWEB en diversos lenguajes
de programación.</p>

