<p>Master of Computer Science, Simón Bolívar University (USB), Caracas,

Venezuela, 1995. Engineer in Computation, USB, 1991. She is member of the academic staff of

the USB (since 1991). He is currently Associate Professor (since 2013). Currently, she is

accredited in the Program of Stimulus for Research and Innovation as Researcher Level B (since

2015).</p>


<p>She is currently Head of the Teaching Section of Algorithms and Programming Languages and

Member of the Advisory Board of the Department of Computing and Information Technology, USB. </p>


<p>In the last years, she has fourteen contributions in refereed Conference Proceedings, sixteen short

notes published, thirteen articles in Journals Indexed, two books chapter and more than twelve

tutorials of degree works. Her research areas are Fuzzy Databases, Formal Specification and

Software Development Methodologies.</p>


<p>She was member of the Organizing Committee of the XXXIX Latin American Conference on

Informatics (CLEI 2013) and the Second National Conference on Computing, Information and

Systems (CONCISA 2014). She was chair of the Third National Conference on Computing,

Information and Systems (CONCISA 2015). She is a founding member of the Venezuelan Society

of Computing (SVC).</p>