<p>PhD en Computación, Universidad Simón Bolívar (USB), Caracas, Venezuela (2006). MsC en Ciencias de la Computación, USB (1992). Ingeniero en
Computación (Cum Laude), USB (1990). Miembro del personal académico de la USB
(desde 1991). Actualmente es Profesor Titular (desde 2007). Fue Profesor Invitado en
la ENSSAT Université de Rennes 1, Lannion, France (2009).</p>

<p>Acreditación del Programa de Promoción al Investigador de Venezuela como
Investigador Nivel 1 (2003‐2010). Ha recibido las distinciones: Profesor Destacado
CONABA (2001), Destacada Labor Docente USB (2000), Premio de estímulo de la
Comisión Nacional de Desarrollo de la Educación Superior CONADES (1998), Profesor
Destacado CONABA (1998) Actualmente acreditado en el Programa de Estimulo a la
Investigación e Innovación PEII como Investigador Nivel B (desde 2011).</p>

<p>Ejerció el puesto de Coordinador de Información e Integración del Decanato de
Investigación y Desarrollo en la USB (2002‐2007). Fue Jefe del Departamento de
Computación y Tecnología de la Información de la USB (2011‐2012). Actualmente es
Director de Desarrollo Profesoral de la USB (desde septiembre 2013). Fue Responsable
del Postgrado “Especialización en Creación y Programación de Videojuegos” de la USB
(de mayo de 2014 a marzo 2015).</p>

<p>Fue Coordinador del Grupo de Investigación y Desarrollo en Bases de Datos de la USB
(2002‐2008). Fue responsable del Proyecto FONACIT G‐2005000279 “Creación y
Aplicación de Manejadores de Bases de Datos Difusas” (2006‐2010). Actualmente, Coordinador Técnico del Proyecto de Investigación de Grupo “Desafíos del Modelo de
Datos Relacional Difuso” en la Universidad Nacional Experimental Politécnica
“Antonio José de Sucre” (UNEXPO), Vicerrectorado de Barquisimeto (desde enero
2013). Miembro del Centro de Análisis Modelado y Tratamiento de Datos CAMYTD en
la Universidad de Carabobo (UC), desde 2010.</p>

<p>Miembro de la Asociación Venezolana para el Avance de las Ciencias (AsoVAC). Fue
representante de la USB ante el (CLEI) Centro Latinoamericano de Estudios en
Informática (2011‐2014), Miembro Directivo de CLEI en representación de Venezuela
como Principal (2012‐2014) y como Suplente (2014‐2016). Miembro Fundador de la
(SVC) Sociedad Venezolana de Computación (desde 2012). Coordinador de Eventos de
la SVC (2012‐2014 y 2014‐2016).</p>

<p>En el área de Bases de Datos, tiene alrededor de sesenta contribuciones en memorias
de congresos arbitrados, alrededor de veinte artículos en revistas indexadas, cinco
capítulos de libro, más de cincuenta notas cortas en convenciones de la AsoVAC y más
de treinta tutorías de trabajos conducentes a grado académico.</p>
