<p>PhD in Computer Science, Universidad Simón Bolívar (USB), Caracas, Venezuela (2006). MSc in Computer Science, USB (1992). Computer Engineering (Cum
Laude), USB (1990). Member of the academic staff of the USB (since 1991). He is
currently Full Professor (since 2007). He was visiting professor at the Université de
Rennes 1 ENSSAT, Lannion, France (2009).</p>

<p>Accreditation Program for Promotion of Venezuela Investigator Researcher Level 1
(2003‐2010). He has received distinctions: Distinguished Professor CONABA (2001), Outstanding Achievement Teacher USB (2000), Award stimulus of the National
Commission for the Development of Higher Education CONADES (1998), Distinguished
Professor CONABA (1998) currently accredited in Program encouragement for
Research and Innovation PEII Researcher Level B (since 2011).</p>

<p>He held the position of Coordinator of Information and Integration of the Dean of
Research and Development in the USB (2002‐2007). He was Head of the Department
of Computing and Information Technology USB (2011‐2012). He is currently Director
of Development Professorial USB (since September 2013). He was Head of the
Graduate "Specialization in Game Design and Programming" USB (May 2014‐ March
2015).</p>

<p>He was Coordinator of Research and Development Group Databases USB (2002‐2008). He was responsible for Project G‐2005000279 FONACIT "Creating and Implementing
Database Managers Fuzzy" (2006‐2010). Currently, Project Technical Coordinator
Research Group "Challenges of Fuzzy Relational Data Model" at the National
Experimental Polytechnic University "Antonio José de Sucre" (UNEXPO), Vice President
of Barquisimeto (January 2013). Member of the Center for Modeling Analysis and
Data Processing CAMYTD at the University of Carabobo (UC), since 2010.</p>

<p>Member of the Venezuelan Association for the Advancement of Science (AsoVAC). He
was representative to the USB (CLEI) Latin American Studies in Computing (2011‐ 2014), Board Member representing Venezuela CLEI as Principal (2012‐2014) and as
Deputy (2014‐2016).</p>

<p>Founding Member (SVC) Venezuelan Computer Society (since
2012). Event Coordinator SVC (2012‐2014 and 2014‐2016).
In the Database area, it has over sixty refereed contributions in memory of congress, about twenty articles in refereed journals, five book chapters, more than fifty short
notes on conventions and over thirty AsoVAC tutoring work leading to a degree.</p>
