<!DOCTYPE html>
<html ng-app="fuzzydodb">
<head>
  <title>FuzzydoDBapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>

-- Empieza inyeccion

  <div ng-view></div>

  <div class="footer-container">
    <%= image_tag("logoUSB.png", width: "80px", height: "50px") %>
    <div class="college-place">Universidad Simón Bolívar - Venezuela</div>
    <div class="info">Información legal - Información de contacto</div>
  </div>


</body>
</html>
